In [1]:
name="Sana Aftab Abbasi"
print(name.capitalize())

Sana aftab abbasi

In [2]:
name="Sana Aftab Abbasi"
print(name.casefold())

sana aftab abbasi

In [5]:
name="Sana Aftab Abbasi"
print(name.center(40))

           Sana Aftab Abbasi

In [11]:
name="Sana Aftab Abbasi"
print(name.count('b'))

3

In [12]:
name="Sana Aftab Abbasi"
print(name.encode())

b'Sana Aftab Abbasi'

In [15]:
name="Sana Aftab Abbasi"
print(name.endswith('i'))

True

In [21]:
name="S\tana Aftab Abbasi"
print(name.expandtabs(5))

S    ana Aftab Abbasi

In [23]:
name="Sana Aftab Abbasi"
print(name.find('a'))

1

In [24]:
name='My Name is {firstname} {lastname}'
print(name.format(firstname='Sana',lastname='Aftab Abbasi'))

My Name is Sana Aftab Abbasi

In [25]:
name={'fname':'Sana', 'lname':'Aftab Abbasi'}
print('{fname} {lname}'.format_map(name))

Sana Aftab Abbasi

In [27]:
name='Sana Aftab Abbasi' 
print(name.index('t'))

7

In [28]:
name="Sana Aftab Abbasi"
print(name.isalnum())

False

In [29]:
name="SanaAftabAbbasi"
print(name.isalpha())

True

In [41]:
name="sana aftab abbasi"
print(name.isascii())

True

In [42]:
name="SanaAftabAbbasi.99"
print(name.isdecimal())

False

In [52]:
name="7656" 
print(name.isdigit())

True

In [54]:
name='Sana_AftabAbbasi' 
print(name.isidentifier())

True

In [55]:
name='Sana Aftab Abbasi'
print(name.islower())

False

In [56]:
name='ana aftab abbasi'
print(name.islower())

True

In [57]:
name='Sana Aftab Abbasi'
print(name.isnumeric())

False

In [58]:
number='135226'
print(number.isnumeric())

True

In [59]:
name='Sana Aftab Abbasi'
print(name.isprintable())

True

In [60]:
name='Sana Aftab Abbasi'
print(name.isspace())

False

In [61]:
name='  '
print(name.isspace())

True

In [63]:
name='Sana aftab Abbasi'
print(name.istitle())

False

In [65]:
name='Sana Aftab'
print(name.isupper())

False

In [66]:
name='SANA AFTAB'
print(name.isupper())

True

In [69]:
name={'Sana','Aftab','Abbasi'}
print('  '.join(name))

Abbasi  Aftab  Sana

In [70]:
name='Sana '
name1=name.ljust(20)
print(name1,"Aftab")

Sana                 Aftab

In [71]:
name='SaNa AftAB aBBaSi'
print(name.lower())

sana aftab abbasi

In [72]:
name='       Sana Aftab   '
print(name.lstrip())

Sana Aftab

In [73]:
name='Sana Aftab Abbasi'
print(name.partition('Aftab'))

('Sana ', 'Aftab', ' Abbasi')

In [75]:
name='Sana Aftab Abbasi'
print(name.replace('Sana','Amna'))

Amna Aftab Abbasi

In [76]:
name='Sana Aftab Abbasi'
print(name.rfind('t'))

7

In [78]:
name='Sana Aftab Abbasi'
print(name.rindex('t'))

7

In [79]:
name='Sana Aftab Abbasi'
print(name.rjust(25))

        Sana Aftab Abbasi

In [80]:
name='Sana Aftab Abbasi'
print(name.rpartition('Aftab'))

('Sana ', 'Aftab', ' Abbasi')

In [81]:
name='Sana Aftab Abbasi'
print(name.rsplit())

['Sana', 'Aftab', 'Abbasi']

In [89]:
name='Sana Aftab Abbasi  '
print(name.rstrip())

Sana Aftab Abbasi

In [90]:
name='Sana Aftab Abbasi'
print(name.split())

['Sana', 'Aftab', 'Abbasi']

In [91]:
name='Sana Aftab Abbasi'
print(name.splitlines())

['Sana Aftab Abbasi']

In [92]:
name='Sana Aftab Abbasi'
print(name.startswith('S'))
name='Sana Aftab Abbasi'
print(name.startswith('B'))

True
False

In [93]:
name='Sana Aftab Abbasi' 
print(name.swapcase())

sANA aFTAB aBBASI

In [94]:
name='Sana Aftab Abbasi'
print(name.title())

Sana Aftab Abbasi

In [95]:
name='Sana Aftab Abbasi'
print(name.upper())

SANA AFTAB ABBASI

In [100]:
name='Sana Aftab Abbasi'
print(name.zfill(20))

000Sana Aftab Abbasi